@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
  --body-bg: #e4e4e4;
  --body-color: rgb(1, 1, 1);
}

.dark-mode {
  --body-bg:#0D0D0D;
  --body-color: rgb(245, 245, 245);
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: roboto;
}

h1 {
  color: var(--body-color);
}

p {
  color: var(--body-color);
}

  