:root {
  --body-color: rgb(1, 1, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header a {
  color: #9400ff;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px; /* Espaçamento entre os itens do menu */
}

.Home {
  text-decoration: none;
  padding: 8px 15px;
  border: 2px solid #9400ff; /* Borda ao redor do link Home */
  border-radius: 5px;
  color: #9400ff;
  font-family: poppins;
}

/* Estilizando a imagem no cabeçalho */
.header-imagem {
  width: 40px; /* Ajuste a largura conforme necessário */
  height: auto; /* Altura automática para manter a proporção */
}

/* Estilizando o menu */
.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: poppins;
}

nav {
  display: flex;
  align-items: center;
}
