@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
:root {
  --body-bg: #f0f0f0;
  --body-color: rgb(0, 0, 0);
  --boty-1:#f0f0f0;
  --boty-2:#000000;
  --bac-b:#ffffff;
  --box-shadow: rgba(0, 0, 0, 0.176);
--border:rgba(0, 0, 0, 0.103);
--p-color:#5f5f5f;

}

body {
  overflow: hidden;
}



.conteudo {
  padding: 6rem;
  margin: 0 auto;
  

}

.conteudo h1 {
  width: 561px;
  height: 74px;
  flex-shrink: 0;
  margin-left: -12px;
}

.Talona {
  color: var( --body-color);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Costa {
  color: var( --body-color);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.ponto {
  color: var( --body-color);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.HTML {
  color: #f2672e;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CSS {
  color: #30aadd;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.JS {
  color: #f2bf26;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.conteudo h2 {
  color: #9400ff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -12px;
  margin-bottom: -20px;
}

.conteudo h3 {
  color:var( --body-color);
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 772px;
}

.conteudo p {
  color:var(--p-color);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 230px;
}



.bottonc {
  background-color: transparent;
  color:blueviolet;
  border: solid blueviolet 2px;
  border-radius: 10px;
  color: #9400FF;

text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
  display: block;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 17px; 
  text-decoration: none;
  max-width: 220px;
}
.bottonc:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.bottonc:focus-visible {
  box-shadow: none;
}

/*bolinhas*/
.technologies-container {
  display: flex;
  justify-content: space-around; /* ou justify-content: space-between; dependendo do espaçamento desejado */
}

.technology-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; /* Espaçamento entre os círculos */
}

/* Estilo para os círculos */
.circle {
  background-color: rgb(94, 15, 151);
  width: 130px; /* Largura do círculo (ajuste conforme necessário) */
  height: 130px; /* Altura do círculo (ajuste conforme necessário) */
  border-radius: 50%; /* Tornar o elemento um círculo */
  overflow: hidden; /* Garante que o ícone SVG não ultrapasse os limites do círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Efeito de transição suave */
}

/* Estilo para os ícones SVG */
.technology-dot svg {
  width: 50px; /* Largura do ícone SVG (ajuste conforme necessário) */
  height: 50px; /* Altura do ícone SVG (ajuste conforme necessário) */
  fill: rgb(255, 255, 255); /* Cor do ícone SVG */
}

/* Estilo quando o mouse passa por cima do círculo (ajustado conforme necessário) */
.technology-dot:hover .circle {
  transform: scale(1.2); /* Aumentar o tamanho do círculo ao passar o mouse */
}



.projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
 
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.github-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(149, 36, 198);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.github-btn:hover {
  background-color: #0366d6;
}


.boty-flor {
  position: fixed;
  display: flex;
  width: 540px;
  height: 454px;
  opacity: 0.2;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: -80px; 
  right: -80px;
  z-index: -1;
}