@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --body-bg: #f0f0f0;
    --body-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --border: rgba(237, 237, 237, 0.345);
}

.dark-mode {
    --body-bg: #0d0d0d;
    --body-color: rgb(245, 245, 245);
    --secondary-color: rgb(0, 0, 0);
    --border: rgba(85, 85, 85, 0.043);
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid black;
}

.profile-pic {
    width: 237px;
    height: 237px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #9400FF;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

.container h1 {
    color: var(--body-color);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container h2 {
    color: #9400FF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container p.location {
    color: #FFC700;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bio p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--body-color);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}