<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
:root {
    --body-bg: #f0f0f0;
    --body-color: rgb(1, 1, 1);
    --boty-border: rgb(1, 1, 1);
    --boty-place: #f0f0f0;
    --boty-1: #f0f0f0;
    --boty-2: #000000;
}

.dark-mode {
    --body-bg: #0d0d0d;
    --body-color: rgb(245, 245, 245);
    --boty-border: rgb(255, 255, 255);
    --boty-place: #020202;
    --boty-1: #ffffff;
    --boty-2: #000000;
}

@property --rotate {
    syntax: '<angle>';
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
    --card-spacing: 20px;
    /* Increase the spacing between cards */
}

.cartas3 {
    display: flex;
    justify-content: center;
    /* Centralize horizontalmente */
    align-items: center;
    /* Centralize verticalmente */
    min-height: 85vh;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

/* Estilos para as cartas */
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Empilhe os elementos verticalmente */
    align-items: center; /* Centralize horizontalmente os elementos dentro da carta */
    justify-content: center; /* Centralize verticalmente os elementos dentro da carta */
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: roboto;
    flex: 1;
    margin: 0 var(--card-spacing); /* Espaçamento entre as cartas */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card p {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center; /* Centralize os botões horizontalmente */
    margin-top: auto; /* Posicione os botões no final da carta */
}

.card-button {
    text-decoration: none;
    background: #ff00d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

.card-button:hover {
    background: #8300b3;
}

.card:hover {
    color: rgb(199, 88, 250);
    transition: color 1s;
}

.card:hover::before,
.card:hover::after {
    animation: none;
    opacity: 0;
}

.card::before {
    content: '';
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate),
        #9b5dff,
        #bc3ce3 43%,
        #c200ab
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: '';
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate),
        #885dff,
        #a83ce3 43%,
        #c2008e
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
:root {
    --body-bg: #f0f0f0;
    --body-color: rgb(1, 1, 1);
    --boty-border: rgb(1, 1, 1);
    --boty-place: #f0f0f0;
    --boty-1: #f0f0f0;
    --boty-2: #000000;
}

.dark-mode {
    --body-bg: #0d0d0d;
    --body-color: rgb(245, 245, 245);
    --boty-border: rgb(255, 255, 255);
    --boty-place: #020202;
    --boty-1: #ffffff;
    --boty-2: #000000;
}

@property --rotate {
    syntax: '<angle>';
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
    --card-spacing: 20px;
    /* Increase the spacing between cards */
}

.cartas3 {
    display: flex;
    justify-content: center;
    /* Centralize horizontalmente */
    align-items: center;
    /* Centralize verticalmente */
    min-height: 85vh;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

/* Estilos para as cartas */
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 3px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Empilhe os elementos verticalmente */
    align-items: center; /* Centralize horizontalmente os elementos dentro da carta */
    justify-content: center; /* Centralize verticalmente os elementos dentro da carta */
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: roboto;
    flex: 1;
    margin: 0 var(--card-spacing); /* Espaçamento entre as cartas */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card p {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center; /* Centralize os botões horizontalmente */
    margin-top: auto; /* Posicione os botões no final da carta */
}

.card-button {
    text-decoration: none;
    background: #ff00d9;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
}

.card-button:hover {
    background: #8300b3;
}

.card:hover {
    color: rgb(199, 88, 250);
    transition: color 1s;
}

.card:hover::before,
.card:hover::after {
    animation: none;
    opacity: 0;
}

.card::before {
    content: '';
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate),
        #9b5dff,
        #bc3ce3 43%,
        #c200ab
    );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: '';
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate),
        #885dff,
        #a83ce3 43%,
        #c2008e
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}
>>>>>>> 136b70839c21b6203dd24554f0f6990a524d24e8
